body{
    background-color: lightpink;
    text-align: center;
}

h1{
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h3{
    text-align: center;
}

img{
    width: 30%;

}

.seperator{
    display: flex;
    flex-direction: column;
}

.more-div{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.space{
    margin: 40px;
}